/* Reset and global styles */
* {
  box-sizing: border-box;
  /* background-color: #001220 !important; */
  background-color:#0f0f31 !important;
 
}

html,
body {
  height: 100vh !important;
  width: 100%;
  overflow-x: hidden;
  padding: 0 !important;
}

/* Title Styling */
.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px; /* Scalable font size */
  text-align: center;
  background: linear-gradient(to right, #5af9fb 0%, #1C6DF3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0 !important;
  
}
/* robot image */
.st-emotion-cache-1xf0csu {
  max-width: 55px !important;
}

/* main container */
.stMainBlockContainer {
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 100%;
}

/* Upload Line */
.upload_line {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: center;
  color: white;
  margin: 1em 0;
}

/* upload image widget customization */
.stFileUploader span, button {
    color: white !important; /* Set the font color to white */
}

.stSelectbox label {
    color: white; 
}
.stSelectbox > div div {
    color: white; 
}

/* select box widget customization*/
.st-cf {
 color: white !important;
}

.stSelectbox div[data-baseweb="select"] > div:first-child {
    border-color: #2d408d;
}
.st-emotion-cache-sy3zga {
  color: white !important;
}

@keyframes blink {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
}
/* Base styles for magnifying glasses */
.detectiveMag1{
  width: 10vw;
  max-width: 100px;
  max-height: 100px;
  animation: blink 6s infinite linear;
}


/* Result Styling */
.result {
  color: rgb(179, 217, 253);
  font-size: 1.5rem;
  z-index: 1;
  text-align: center;
  margin-top: 1.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.resultword {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #8ad8e6 0%,
    #a438f2 29%,
    #ff007f 67%,
    #e8a7c8 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear;
  display: inline-block;
  font-size: 32px;
}

.prediction {
  padding-top: 0 !important;
  margin-top: 0 !important;
  font-size: 14px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
  .title {
    font-size: 1.8em;
  }

  .upload_line {
    font-size: 0.9rem;
  }
  .result {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5em;
  }
  .upload_line {
    font-size: 0.8rem;
  }

  .result {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 16px !important;
  }
  /* robot image */
.st-emotion-cache-1xf0csu {
  display: none;
}
.upload_line {
  margin:0rem !important;
}
.detectiveMag1{
 display: none;
}
.st-emotion-cache-ocqkz7 {
  gap: 0 !important;
}

  .result {
    font-size: 0.9rem;
  }
}
